<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mostraQuadro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="/css/blueNavbar.css" rel="stylesheet"/>
    <link href="/css/infoRiepilogoStyle.css" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top nav-custom" style="background-color: #1976D2;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Art Gallery</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/admin/welcome}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-primary btn-custom" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Operazione effettuata con successo
                    <div><span class="text-muted">Riepilogo</span></div>
                </h2>
                <div class="list-group">
                    <a class="list-group-item">Nome: <b th:text="${quadro.nome}"></b></a>
                    <a class="list-group-item">Anno: <b th:text="${quadro.anno}"></b></a>
                    <a class="list-group-item">Altezza: <b th:text="${quadro.altezza}"></b></a>
                    <a class="list-group-item">Larghezza: <b th:text="${quadro.larghezza}"></b></a>
                    <a class="list-group-item">Autore: <b
                            th:text="${quadro.autore.nome + ' ' +quadro.autore?.cognome}"></b></a>
                    <a class="list-group-item">Tecnica: <b th:text="${quadro.tecnica?.nome}"></b></a>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block img-rounded"
                     th:src="@{/pictures/{id}(id=${quadro.id})}" alt="img quadro"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
