body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #03A9F4; /*Light Blue*/
}
.bg-1 {
    background-color: #2196F3; /* Blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #03A9F4; /*Light Blue*/
    color: #ffffff;
}
.container-custom {
    padding-top: 70px;
    padding-bottom: 70px;
}
.table-custom{
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}
