
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#1976D2;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-group-addon {
    border: 1px solid #1976D2;
}