<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{homeFunctions.js }"></script>

</head>
<body>
<div class="container" id="lQ">
    <h2>Lista Quadri</h2>
    <ul class="list-group" id ="quadri"></ul>
</div>
<p id="test"></p>
<script>
    main();
    updateList();
</script>
</body>
</html>