<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index Con boostrap</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Benvenuto nella galleria di Mark Oliva Zuckenberg!</h1>
            <a class="btn btn-primary" th:href="@{/admin/login}">Login</a>
        </div>
    </div>
</body>
</html>


